.doados,
.boxForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxForm {
  border: 0.3rem solid #005695;
  box-shadow: 0 0.063rem 0.25rem rgba(0, 86, 149, 0.5);
}

.bookTitle {
  display: flex;
  align-items: center;
}

.formDoados {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border: 0.2rem solid #005695;
  }

  input[type="submit"] {
    background-color: #005695;
    border: 0.2rem solid #005695;
    color: #fafafa;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
  }
  input[type="submit"]:hover {
    background-color: transparent;
    color: #005695;
  }
}

@media screen and (width >= 20rem) and (width < 48rem) {
  .doados {
    padding: 5.5rem;
    text-align: center;
    gap: 2rem;
    

    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .boxForm {
    padding: 3rem;
    border-radius: 0.625rem;
    gap: 2rem;
    width: 70vw;
  }

  .bookTitle {
    gap: 0.5rem;

    img {
      width: 32px;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  .formDoados {
    gap: 2rem;

    input {
      width: 130%;
      border-radius: 0.625rem;
      padding: 0.5rem 2rem;
    }

    input[type="submit"] {
      margin-top: 1.5rem;
    }
  }
}

@media (width >= 48rem) and (width < 64rem) {
  .doados {
    padding: 6rem 0;
    gap: 4rem;

    p {
      font-size: 1.25rem;
    }
  }

  .boxForm {
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    gap: 1.25rem;
  }

  .bookTitle {
    gap: 0.5rem;

    img {
      width: 48px;
    }

    h2 {
      font-size: 2rem;
      line-height: 1.6;
    }
  }

  .formDoados {
    gap: 1rem;

    input {
      width: 170%;
      border-radius: 0.625rem;
      padding: 0.5rem 2rem;
    }

    input[type="submit"] {
      margin-top: 1.5rem;
    }
  }
}


@media (width >= 64rem) {
  .doados {
    padding: 4rem;
    gap: 3rem;

    p {
      font-size: 1.8rem;
      line-height: 1.6;
    }
  }

  .bookTitle {
    gap: 2rem;
    justify-content: space-between;
  }

  .boxForm {
    gap: 3rem;
    padding: 3rem 8rem;
    border-radius: 0.5rem;

    input {
      width: 150%;
      border-radius: 0.8rem;
      padding: 0.5rem 2rem;
    }
  }

  .bookTitle {
    gap: 1rem;

    img {
      width: 48px;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 1.8;
    }
  }

  .formDoados {
    gap: 2rem;
  }
}