.doados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: .8rem;

  p {
    font-size: 2.4rem;
    line-height: 2.905rem;
    font-weight: 400;
  }
}

.boxForm {
  border: 0.3rem solid #005695;
  width: 44.2rem;
  height: 59.8rem;
  border-radius: 1rem;
  padding: 8rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 6.3rem;
}

.bookTitle {
  display: flex;
  align-items: center;
  gap: 3.8rem;
  width: 100%;

  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.905rem;
    color: #005695;
  }
}


.formDoados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

 div {
  background-color: transparent;
  border: none;
  width: 100%;
  position: relative;
  
  input {
    width: 100%;
    border: 0.2rem solid #005695;
    border-radius: 2rem;
    padding: 1rem 0 1rem 3rem;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.694rem;

    &:focus + label,
    &:not(:placeholder-shown) + label {
      transform: translateY(-3rem);
      font-size: 1.4rem;
      color: #000;
    }
  }

  label {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 1.6rem;
    color: #000;
    pointer-events: none;
    transition: all 0.3s ease;
  }
 }
 
}

.formDoados {
  input[type="submit"] {
    background-color: #005695;
    color: #fff;
    border: none;
    width: 50%;
    padding: 1.5rem 0;
    border-radius: 1rem;
    font-size: 2rem;
    line-height: 2.4rem;
    transition: border .5s, color .5s, background-color .5s, box-shadow .5s;

    &:hover {
      background-color: transparent;
      border: .2rem solid #005695;
      color: #005695;
      box-shadow: 0 0 .8rem #005695;
    }
  }
}


@media screen and (width <= 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .doados {
    width: 100%;
    padding: 0 2rem;
    gap: 3rem;

    p {
      font-size: 1.8rem;
      line-height: 2.178rem;
      text-align: center;
    }
  }

  .boxForm {
    width: 100%;
    height: 44.2rem;
    padding: 4rem 3rem;
  }

  .bookTitle {
    gap: 3rem;

    img {
      width: 4rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 2.42rem;
    }
  }

  .formDoados {
    gap: 2rem;

    div {
      height: 3rem;

      input {
        height: 3rem;
      }

      label {
        font-size: 1.4rem;
        line-height: 1.694rem;
      }
    }
  }
}