.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: #18181b;
  }
}

.boxDoar {
  display: grid;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0157944d;
  }
}

@media screen and (width >= 20rem) and (width < 48rem) {
  .doar {
    padding: 1.5rem;
    margin-block: 2rem;
  }

  .container {
    gap: 2rem;

    h2 {
      font-size: 1.5rem;
      line-height: 1.6;
    }
  }

  .boxDoar {
    flex-direction: column;
    gap: 2rem;

    article {
      border-radius: 0.5rem;
      padding: 1.5rem;
      gap: 1rem;

      p {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }


}

@media (width >= 48rem) and (width < 64rem) {
  .doar {
    margin-block: 3rem;
    padding: 2rem;
  }
  
  .container {
    gap: 1.5rem;

    h2 {
      font-size: 1.75rem;
      line-height: 1.7;
    }
  }

  .boxDoar {
    grid-template-columns: repeat(2, 300px);
    gap: 1.5rem;

    article {
      border-radius: 0.8rem;
      padding: 2rem;
      gap: 2rem;

      p {
        font-size: 1.125rem;
        line-height: 1.6;
      }
    }
  }
}

@media (width >= 64rem) {
  .doar {
    margin-block: 5rem;
    padding-inline: 2.5rem;
  }

  .container {
    gap: 3rem;

    h2 {
      font-size: 2rem;
      line-height: 1.8;
    }
  }

  .boxDoar {
    grid-template-columns: repeat(4, 300px);
    gap: 4rem;

    article {
      padding: 2.5rem;
      border-radius: 0.8rem;
      gap: 1.5rem;

      p {
        font-size: 1.25rem;
        line-height: 1.6;
      }
    }
  }
}