.imgHome {
  background-image: url("../../assets/images/image-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media screen and (width >= 20rem) and (width < 48rem) {
  .imgHome {
    height: 100vh;
    width: 100vw;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 2rem;
      line-height: 1.6;
    }
  }
}

@media (width >= 48rem) and (width < 64rem) {
  .imgHome {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (width >= 64rem) {
  .imgHome {
    height: 100vh;

    h2 {
      position: absolute;
      width: 32.2rem;
      height: 12.5rem;
      left: 12.5rem;
      top: 34.6rem;
      font-size: 3rem;
      line-height: 1.8;
    }
  }
}
