.imgHome {
  background-image: url("../../assets/images/image-home.png");
  height: 55.4rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: #fff;
    position: absolute;
    width: 32.2rem;
    height: 12.5rem;
    left: 12.5rem;
    top: 34.6rem;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}

.doar {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  padding: 2rem 9.4rem;

  h2 {
    color: #005695;
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    font-weight: 500;
  }
}

.boxDoar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.2rem;
  

  div {
    background-color: #0157944d;
    border-radius: 1rem;
    width: 30rem;
    height: 35rem;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    img {
      width: 10rem;
    }

    p {
      font-size: 2.2rem;
      line-height: 2.663rem;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media (width <= 768px) {
  .imgHome {
    height: 35.2rem;

    h2 {
      width: 28.2rem;
      height: 12.5rem;
      left: 6.3rem;
      top: 23.4rem;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 3.3rem;
      text-align: center;
    }
  }

  .doar {
    gap: 3rem 0;
    padding: 2rem 0;
    h2 {
      text-align: center;
      font-size: 3rem;
      line-height: 3.631rem;
    }
  }

  .boxDoar {
    flex-direction: column;
    gap: 2rem;

    div {
      padding: 3rem 2rem;
      width: 25.4rem;
      height: 20rem;

      img {
        width: 5rem;
      }

      p {
        font-size: 1.8rem;
        line-height: 2.178rem;
      }
    }
  }
}
