.header {
  background: linear-gradient(90deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 88%);
  width: 100%;
  max-width: 100vw;
  color: #fff;
}

.header, .logo, .menu ul  {
  display: flex;
  align-items: center;
}

.menu {
  ul {
    li {
      a {
        color: #fff;
        transition: all 0.5s;
      }

      a:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.inputBox {
  display: none;
}

@media screen and (width >= 20rem) and (width < 48rem) {
  .header {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.125rem;
    gap: 1rem;
  }

  .logo {
    gap: 1rem;

    img {
      width: 100%;
      max-width: 30px;
    }

    h1 {
      font-size: 1.5rem;
      line-height: 1.4;
    }
  }

  .menu {
    ul {
      gap: 1rem;

      li {
        a {
          font-size: 0.875rem;
          line-height: 1.3;
        }
      }
    }
  }
}

@media (width >= 48rem) and (width < 64rem) {
  .header {
    // flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    gap: 1.5rem;
  }

  .logo {
    gap: 1.5rem;

    img {
      width: 20%;
      max-width: 100%;
    }
    h1 {
      font-size: 1.75rem;
      line-height: 1.7;
    }
  }

  .menu {
    ul {
      gap: 1.5rem;

      li {
        a {
          font-size: 1.125rem;
          line-height: 1.6;
        }
      }
    }
  }
}

@media (width >= 64rem) {
  .header {
    justify-content: space-between;
    padding: 2.5rem 5rem;
  }

  .logo {
    gap: 2rem;

    img {
      width: 100%;
      max-width: 5rem;
    }

    h1 {
      font-size: 2rem;
      line-height: 1.7;
    }
  }

  .menu {
    ul {
      gap: 2rem;

      li {
        a {
          font-size: 1.125rem;
          line-height: 1.6;
        }
      }
    }
  }
}
