

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  background: linear-gradient(90deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 88%);
  color: #fff;
  width: 100%;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.631rem;
    font-family: "Inter", sans-serif;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 14rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem; 

    li {
      a {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        line-height: 2.42rem;
        font-weight: 400;
      }
    }
  }
}

.inputBox {
  position: relative;
  margin-bottom: 1.6rem;
  
  label {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    line-height: 2.42rem;
    left: 3rem;
    translate: 0 -50%;
    padding: 4px 8px;
  }
  
  img {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
  }

  input {
    height: 5.6rem;
    width: 33rem;
    padding-left: 4.8rem;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    background-color: transparent;
    transition: 0.3s;
  }
}

.inputBox :is(label, span) {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  color: #fff;
  transition: 0.3s;
}


@media (width >= 320px) and (width <= 768px){
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem 0;
  }

  .logo {
    gap: 1rem;

    img {
      width: 10vw;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  .menu {
    gap: 1rem;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      li {
        a {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (width <= 999px) {
  .inputBox {
    display: none;
  }
}