
.footerTop {
  background-color: #005695;

  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: #FFFFFFDB;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.936rem;
  }
}

.socialMedia {
  display: flex;
  align-items: center;

  a {
    color: #fafafa;
  }
}

.footerBottom {
  background-color: #232020;
  text-align: center;

  p {
    color: #Fafafa;
    font-size: 0.8rem;
  }
}

@media screen and (width >= 20rem) and (width < 48rem) {
  .footerTop, .footerBottom {
    padding: 0.8rem 1.125rem;
  }
  
  .footerTop {
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 0.9rem;
    }
  }

  .socialMedia {
    gap: 1rem;
  }

  .footerBottom {
    p {
      font-size: 0.875rem;
    }
  }
}
@media (width >= 48rem) and (width < 64rem) {
  .footerTop, .footerBottom {
    padding: 1.25rem 2.5rem;

    p {
      font-size: 1.2rem;
    }
  }

  .socialMedia {
    gap: 1.2rem;
  }
}


@media (width >= 64rem) {
  .footerBottom, .footerTop {
    padding: 1.25rem 5rem;

    p {
      font-size: 1.3rem;
    }
  }

  .socialMedia {
    gap: 1.5rem;
  }
}

// .footerTop {
//   padding: 2rem 5rem;
//   
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
  
//   
// }

// .footerBottom {
//   padding: 1rem 5rem;
//   
//   text-align: center;

  
// }



// .socialMedia {
//   display: flex;
//   align-items: center;
//   gap: 2rem;

//   a {
//     color: #fff;
//     width: 1.2rem;
//   }
// }

// // .footerBottom {
// //   background-color: #232020;
// //   padding: 2.5rem 0;

// //   p {
// //     color: #fff;
// //     text-align: center;
// //     font-size: 1.5rem;
// //     line-height: 1.815rem;
// //     font-family: "Inter", sans-serif;
// //     font-weight: 700;
// //   }
// // }

// // @media screen and (width <= 768px) {
// //   .footerTop {
// //     flex-direction: column;
// //     gap: 3rem;
// //     padding: 3rem 0 2rem;
// //   }

// //   .footerBottom {
// //     padding: 2rem auto 3rem;
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
    
// //     p {
// //       max-width: 27.2rem;
// //       font-size: 1.2rem;
// //       line-height: 1.452rem;
// //     }
// //   }
// // }