$roboto: "Roboto", sans-serif;
$inter: "Inter", sans-serif;
$blue: #005695;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $roboto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}