.livrosDoados {
  text-align: center;
}

.List {
  display: grid;

  article {
    border: 0.1rem solid #005695;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
      max-width: 50%;
      width: 50%;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;

  span {
    font-weight: 500;
  }
}

@media (width < 48rem) {
  .livrosDoados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
  
  .List {
    padding: 4rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    article {
      width: 220px;
      gap: 1rem;
      padding: 2rem;

      .info {
        gap: 0.5rem;

        h2 {
          font-size: 1.25rem;
        }

        p, span {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (width >= 48rem) and (width < 64rem) {
  .livrosDoados {
    padding: 6rem 3rem;

    h2 {
      font-size: 2rem;
      margin: 1rem 0;
    }
  }
  .List {
    grid-template-columns: repeat(2, 300px);
    gap: 2rem;
    align-items: center;
    justify-content: center;

    article {
      padding: 1.5rem;
      gap: 1rem;

      .info {
        gap: 0.5rem;

        h2 {
          font-size: 1.5rem;
        }


        p, span {
          font-size: 1.125rem;
        }
      }
    }
  }
}

@media (width >= 64rem) {
  .livrosDoados {
    padding: 4rem;

    h2 {
      margin-bottom: 2.4rem;
      font-size: 2.4rem;
      line-height: 1.8;
    }
  }
  .List {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    article {
      padding: 2rem;

      .info {
        gap: 0.5rem;

        h3 {
          font-size: 2rem;
        }

        span,
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
